NODE_ENV=<production || development>
DISCORD_CLIENT_ID=< can be aquired at https://discord.com/developers >
DISCORD_CLIENT_SECRET=< can be aquired at https://discord.com/developers >
DISCORD_BOT_TOKEN=< can be aquired at https://discord.com/developers >
PATH2COMMANDS_DEV=<ie ./home/norlin/dev/discord-bots/mr-taskman/src/commands>
PATH2COMMANDS_PROD=<ie. /home/norlin/dev/discord-bots/mr-taskman/build/commands>
MONGODB_USER=<database user, defaults to read-only access if none is provided>
MONGODB_PASS=<database user, defaults to read-only access if none is provided>